<h2>Meus Heróis</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>

<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      Adicionar
    </button>
</div>

<!--h2>Detalhes de {{hero.name}}</h2>
<div>
    <span>id: </span>{{hero.id}}
</div>
<div>
    <label>Nome: </label><input [(ngModel)]="hero.name" placeholder="Digite o nome aqui">
</div-->

<!--h2>Detalhes de {{selectedHero.name | uppercase}}</h2>
<div *ngIf="selectedHero">
    <span>id: </span>{{selectedHero.id}}
</div>
<div>
    <label>Nome: </label><input [(ngModel)]="selectedHero.name" placeholder="Digite o nome aqui">
</div-->

<!--app-hero-detail [hero]="selectedHero"></app-hero-detail-->